<div class='container-fluid d-flex flex-column align-items-center'>

    {{#unless logged_in}}
       <div>
        <a href="../login">Login</a>
        <a href="../createUser">Create Account</a>
       </div>
    {{/unless}}
    {{#if logged_in}}
    <div>
        <a href='../api/blog/createBlog'>Create Blog</a>
        <a href='../api/blog/deleteBlog'>Delete Blog</a>
    </div>  
    {{/if}}
    
    <div class='container-fluid blogPostsContainer'> 
        {{#each mappedBlogPosts}}
            <div class='blogPost'>
                <h2 class='blogTitle'>{{this.title}}</h2>
                <p class='blogContent'>{{this.content}}</p>
                <p>Posted by: {{this.user.name}} on {{this.date_created}} </p>
                <p>Id: {{this.id}}</p>

                <div class='blogComments'>

                    {{#each this.Comments}}
                        <p>{{this.comment}}</p>
                    {{/each}}

                </div>
            </div>
        {{/each}}
    </div>

</div>



<script src="./js/homepage.js"></script>